<div class="jumbotron" style="margin-top:40px; background-color:#f3e8d6;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
width: 50%;margin-left: auto;margin-right: auto;min-height: 60vh;padding: 9%;">

    <h1 class="display-4" style="color: rgb(92, 87, 81);" >Welcome To BOOKS</h1>
    <p class="lead" style="color: rgb(92, 87, 81);"> </p>
    <hr class="my-4" >
    <h4 style="color: rgb(92, 87, 81);  margin-top:30%;">Have fun adding new books</h4>
   
    <a class="btn btn-primary btn-lg" style="background-color: #e68c80; border-color: #ecddc6;" href="#" role="button" routerLink="/livre"  > Go to Books</a>
<!-- (click)="moveToProfile()" -->
  </div>